<% provide(:title, "") %>
<section class="hero is-success is-fullheight" style="background-image: url(<%= asset_path("hero.jpg") %>); background-repeat:no-repeat; background-size:cover; background-position:center">

<div class="hero-content">
    <div class="container">
<img src="<%= asset_path("involved_logo.png") %>" class="hero-img" alt="Logo">
  </div>
  </div>
  <div class="hero-footer">
    <h2 class="title is-2">You have a voice.</h2>
    <h1 class="title is-1">Be heard!</h1>
      <%= link_to "Sign up now!", signup_path, class: "button is-success is-medium" %>
      <!--<a class="button is-success is-medium" href="search.html">View Bills</a>-->
  </div>
</section>
<br><br>
<div class="container">
<div class="columns">
  <div class="column is-third is-text-centered">
    <h3 class="title is-3">Profile</h3>
    <a href="profile.html"><img src="<%= asset_path("icon-profile.png") %>"></a>
    <p>Make a profile to track legislation and vote for bills.</p>
  </div>
  <div class="column is-third is-text-centered">
    <h3 class="title is-3">Search</h3>
    <a href="search.html"><img src="<%= asset_path("icon-search.png") %>"></a> 
    <p>Explore bills you're interested in.</p>
  </div>
  <div class="column is-third is-text-centered">
    <h3 class="title is-3">Trending</h3>
    <a href="trending.html"><img src="<%= asset_path("icon-trend.png") %>"></a> 
    <p>Find out the top bills that people support, opposed or or votes.</p>
  </div>
</div>
</div>
</html>