<% provide(:title, "Login") %>

<header class="blue">
  <div class="header-left is-pulled-left">
      <a href="/">
        <img src="/assets/logo.png" alt="Logo" style="height:8vh">
      </a>
  </div>
    <!-- Hamburger menu (on mobile) -->
  <span class="header-toggle is-pulled-right">
    <span></span>
    <span></span>
    <span></span>
  </span>

    <!-- Right side -->
  <div class="header-right header-menu is-pulled-right">

  </div>
</header>

<div class="container is-half">
<h1 class="title is-1 bold is-text-centered">Login</h1>
<br />
<hr />

<div class="is-text-centered">
<%= form_for(:session, url: login_path) do |f| %>

      <%= f.label :email %>&nbsp;
      <%= f.email_field :email, class: 'form-control' %>
        <br />
      <%= f.label :password %>&nbsp;
      <%= f.password_field :password, class: 'form-control' %>
      <br />
      
      <%= f.label :remember_me, class: "checkbox inline" do %>
        <%= f.check_box :remember_me %>
        <span>Remember me on this computer</span>
      <% end %>
      <br />
        
      <%= f.submit "Log in", class: "btn btn-primary" %>
    <% end %>

    <p>New user? <%= link_to "Sign up now!", signup_path %></p>
<br />
</div>    
<hr />
</div>
