<% provide(:title, "Login") %>

<header class="blue">
  <div class="header-left is-pulled-left">
      <a href="/">
        <img src="<%= asset_path("logo.png") %>" alt="Logo" style="height:8vh">
      </a>
  </div>
    <!-- Hamburger menu (on mobile) -->
  <span class="header-toggle is-pulled-right">
    <span></span>
    <span></span>
    <span></span>
  </span>

    <!-- Right side -->
  <div class="header-right header-menu is-pulled-right">

  </div>
</header>

<div class="container is-half">
<h1 class="title is-1 bold is-text-centered">Login</h1>
<br />
<hr />


<%= form_for(:session, url: login_path) do |f| %>

<div class="thin-container">
       <div class="signup-title">
         
      <%= f.label :email %>&nbsp;
      <div><%= f.email_field :email, class: 'text' %></div>
        <br />
      <%= f.label :password %>&nbsp;
      <div><%= f.password_field :password, class: 'text' %></div>
      <br />
      
      <div class='hug'>
      <%= f.label :remember_me, class: "checkbox inline" do %>
        <%= f.check_box :remember_me, class: 'aligntop' %>
        <span>Remember me on this computer</span>
      <% end %>
      <br />
      </div>
        
      <div><%= f.submit "Log in", class: "button-blue" %></div>
    <% end %>
    <br />
    <div>New user? <%= link_to "Sign up now!", signup_path %></div>
<br />
</div>    
</div>
<hr />
</div>

