<% provide(:title, "Settings") %>
<%= render 'layouts/header' %>

<div class="container is-half">
<h1 class="title is-1 bold is-text-centered">Profile Update</h1>
<br />
<hr />

<div class="is-text-centered">
<%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages' %>
</div>
<div id="container">
    <div class="gravatar_edit">
      <%= gravatar_for(@user, @id) %>
      <a href="http://gravatar.com/emails" class="button" target="_blank">Change</a>
    </div>
</div>

  <br />
    
      <%= f.label :name %>
      <div><%= f.text_field :name, class: 'text' %></div><br />

      <%= f.label :email %>
      <div><%= f.email_field :email, class: 'text' %></div><br />

      <%= f.label :password %>
      <div><%= f.password_field :password, class: 'text' %></div><br />

      <%= f.label :password_confirmation, "Confirmation" %>
      <div><%= f.password_field :password_confirmation, class: 'text' %></div><br />
      
      <%= f.label :address %>&nbsp;
      <div><%= f.text_field :address, class: 'text' %></div><br />
      
      <%= f.label :city %>&nbsp;
      <div><%= f.text_field :city, class: 'text' %></div><br />
      
      <%= f.label :state %>&nbsp;
      <div><%= f.text_field :state, class: 'text' %></div><br />
      
      <%= f.label :zip %>&nbsp;
      <div><%= f.text_field :zip, class: 'text' %></div><br />
      

      <%= f.submit "Save changes", class: "button-blue" %>
    <% end %>


<br />
</div>    
<hr />
</div>
