<% provide(:title, 'Signup! | Be heard!') %>

<%= render 'layouts/header' %>

<div class="container is-half">
<h1 class="title is-1 bold is-text-centered">Signup</h1>
<br />
<hr />
<div class="is-text-centered">
 <div class="error-signup">
  <%= form_for(@user) do |f| %>
     <%= render 'shared/error_messages' %>
     <br />
       <div class="thin-container">
         <div class="signup-title">
           <div> 
           <%= f.label :name %>&nbsp;
            <%= f.text_field :name, class: 'text' %></div><br />
       
           <div>
           <%= f.label :email %>&nbsp;
            <%= f.email_field :email, class: 'text' %></div><br />
        
           <div>  
           <%= f.label :password %>&nbsp;
            <%= f.password_field :password, class: 'text' %></div><br />
        
           <div>
           <%= f.label :password_confirmation, "Confirm Password" %>&nbsp;
            <%= f.password_field :password_confirmation, class: 'text' %></div><br />
        
           <div>
           <%= f.label :address %>&nbsp;
            <%= f.text_field :address, class: 'text' %></div><br />
        
           <div>
           <%= f.label :city %>&nbsp;
            <%= f.text_field :city, class: 'text' %></div><br />
        
           <div>
           <%= f.label :state %>&nbsp;
            <%= f.text_field :state, class: 'text' %></div><br />
        
           <div>
           <%= f.label :zip %>&nbsp;
            <%= f.text_field :zip, class: 'text' %></div><br />
       
           <div><%= f.submit "Create my account", class: "button-blue" %></div>
          <% end %><br />
         <div>Existing user? <%= link_to "Login now!", login_path %></div>
        </div>
      </div>
    </div>    
  </div>   
</div>
<br />
<hr />

