    <script type="text/javascript">
    $(function() 
    {
        $('#menu').click(function()
        {
            $('.submenu').slideToggle();
        });
    });
    </script>
    
    <script type="text/javascript">
    $(function() 
    {
        $('#menu-admin').click(function()
        {
            $('.submenu-admin').slideToggle();
        });
        
    });
    </script>

<header class="blue">
  <div class="header-left is-pulled-left">
      <a href="/">
        <%= image_tag("logo.png", :alt => "Logo", :style => "height:8vh") %>
      </a>
  </div>
  
    <!-- Hamburger menu (on mobile) -->
  <span class="header-toggle is-pulled-right">
    <span></span>
    <span></span>
    <span></span>
  </span>

    <!-- Right side -->
  <div class="header-right header-menu is-pulled-right">
    <span class="header-item">
      <a href="/search">Bills</a>
    </span>
    <span class="header-item">
      <a href="/trending">Trending</a>
    </span>
    <% if logged_in?  %>
    <% if current_user.admin? %>                    
    <span class="header-item">
    <ul id="menu">
        <li id="Admin"><span class="is-text-left">Admin</span></li>
        <li class="submenu" style="margin-top: 2vh"><%= link_to "Users", '/users', :class=>"button-blue" %></li>
    </ul>
    </span>
    <% end %>
            
    <span class="header-item">
    <ul id="menu-admin">
        <li id="User"><span class="is-text-left">Account</span></li>
        <li class="submenu-admin" style="margin-top: 2vh"><%= link_to "Profile", current_user, :class=>"button-blue" %></li>
        <li class="submenu-admin" style="margin-top: 5vh"><%= link_to "Settings", edit_user_path(current_user), :class=>"button-blue" %></li>
        <li class="submenu-admin" style="margin-top: 8vh"><%= link_to "Log Out", logout_path, method: "delete", :class=>"button-blue" %></li>
    </ul>
    </span>
  
              
          <% else %>
          
              <span class="header-item">
    <ul id="menu">
        <li id="User"><span class="button">Account</span></li>
        <li class="submenu" style="margin-top: 2vh"><%= link_to "Login", login_path, :class=>"button-blue" %></li>
        <li class="submenu" style="margin-top: 5vh"><%= link_to "Sign up", signup_path, :class=>"button-blue" %></li>
    </ul>
    </span>

      <% end %>
    
      </span> 
      </div>
</header>